.product {
    p {
        font: normal normal 400 18px/27px Gothic A1;
        color: #FFFFFF;
        margin-bottom: 20px;
        width: 100%;
        max-width: 800px;
    }

    h1 {
        font: normal normal 800 60px/87px Gothic A1;
        letter-spacing: 4.2px;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 4px;
        width: 100%;
        max-width: 700px;
    }

    h2 {
        font: normal normal 800 32px/46px Gothic A1;
        letter-spacing: 0.77px;
        color: #FFFFFF;
        margin-bottom: 34px;
        width: 100%;
        max-width: 800px;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    a {
        color: #949495;
        text-decoration: none;

        &:hover {
            color: #ffffff;
            text-decoration: underline;
        }
    }

    ul,
    ol {
        list-style-type: disc;
        list-style-position: inside;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;

        li {
            margin-bottom: 20px;
            font: normal normal 400 18px/27px Gothic A1;
            color: #fff;
            margin-bottom: 10px;
            width: 100%;
            max-width: 800px;
        }
    }

    ol {
        list-style-type: unit;
    }

    &__website {
        font: normal normal 800 14px/21px Gothic A1;
        letter-spacing: 0.34px;
        color: #ffffff;
        margin-bottom: 10px;
        text-decoration: none;
    }

    &__title {
        font: normal normal 800 60px/87px Gothic A1;
        letter-spacing: 4.2px;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 4px;
        width: 100%;
        max-width: 700px;
    }

    &__content {
        width: 100%;
        max-width: 800px;
    }

    &__tech {
        letter-spacing: 0.29px;
        color: #ffffff;
        font: normal normal 600 12px/17px Gothic A1;
        margin-bottom: 50px;

        span {
            font: normal normal 300 12px/17px Gothic A1;
        }
    }
}

@media screen and (max-width:700px) {
    .product {
        p {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 14px;
        }

        h1 {
            font-size: 40px;
            line-height: 60px;
        }

        h2 {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 18px;
        }

        img {
            margin-bottom: 30px;
        }
    }

    .product__title {
        font-size: 40px;
        line-height: 60px;
    }

    .product__tech {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:500px) {
    .product {
        p {
            font-size: 13px;
            line-height: 18px;
        }

        h1 {
            font-size: 30px;
            line-height: 45px;
            letter-spacing: normal
        }

        h2 {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 10px;
        }

        img {
            margin-bottom: 30px;
        }
    }

    .product__title {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: normal
    }

    .product__tech {
        font-size: 10px;
        line-height: 15px;
    }
}