.body {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* CORE */
@import "core/reset";
@import "core/normalize";
@import "core/mixins";
@import "core/fonts";

@import 'home';
@import 'product';